.running-wolf {
    position: absolute;
    width: 100px;
    height: auto;
    animation: runAcross linear infinite;
    transform: scaleX(-1);
}

@keyframes runAcross {
    from {
        left: -100px;
    }
    to {
        left: calc(100% + 100px);
    }
}

/* MANDATORY RUNNING WOLVES  */